    *{
    padding: 0;
    margin: 0;
    font-family: atma;
}
body{
    color: wheat;
    background-color: #0066ff;
}
.main{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.holder{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.result:not(:first-child) {
    position: absolute;
    visibility: hidden;
    left: 42%;
}
.dices{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.dice{
    display: block;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background-color: rgb(218, 13, 13);
    border-radius: 20px;
    display: grid;
    margin: auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.circles {
    height: 60%;
    width: 60%;
    background-color: wheat;
    border-radius: 50%;
}
.roll{
    width: 50%;
    margin: 10px;
}
button{
    font-size: 20px;
    position: relative;
    bottom: 8vh;
    color: #3083ff;
    border: 0;
    border-radius: 10px;
    padding: 4px;
    background-color: #74a6f1;
    width: 100%;
}
.circles1:nth-child(2n + 1){
    visibility: hidden;
}
.circles2:nth-child(2n){
    visibility: hidden;
}